@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*resets*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(../images/comic-wallpaper.png);
}

header {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-family: bangers, sans-serif;
    text-shadow: 2px 5px black;
    color: #feffff;
}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    padding: 20px 0;
    background-color: rgba(180, 0, 1, 0.7);
    border: black solid 5px;
}

h4 {
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: rgba(180, 0, 1, 0.7);
    border: black solid 5px;
}

#game-board {
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    background-color: rgba(180, 0, 1, 0.7);
    border: black solid 5px;
    border-radius: 5%;
}

.game-card {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.front, .back {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #cccecd;
    border: black solid 2px;
    border-radius: 5%;
}